/* 全局样式表 */
html, 
body, 
#app {
  height:100%;
  margin:0;
  padding:0;
  min-width: 1366px;
}

/* 覆盖默认样式最好写在全局的CSS中 */
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 20px;
  font-size: 12px;
  color: 20px;
}

.el-pagination {
  margin-top: 15px;
}

.el-steps {
  margin: 15px 0;
}

.el-step__title {
  font-size: 12px;
}
/* 让级联选择器滚动条显示：给他高度 */
.el-cascader-panel {
  height: 400px;
}
/* 富文本编辑器的最小高度设置 */
.ql-editor {
  min-height: 300px;
}